[tasks.build-zero]
description = "Cross compile axum-app for Raspberry Pi Zero and copy binary to current directory"
command = "cross"
args = ["build", "--release", "--target", "arm-unknown-linux-gnueabihf"]
clear = true

[tasks.copy-binary]
description = "Copy the compiled binary to the project root"
script = [
    "cp target/arm-unknown-linux-gnueabihf/release/axum-app ."
]

[tasks.deploy]
description = "Build and copy axum-app for Raspberry Pi Zero"
dependencies = ["build-zero", "copy-binary"]
