[Unit]
Description=Flask App
After=network.target

[Service]
User=zero
WorkingDirectory=/home/powell/raspberrypi-zero/flask-app
ExecStart=/home/powell/raspberrypi-zero/flask-app/.venv/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target

